###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/phpunit.xml
/phpunit.result.cache
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> Ignorar node_modules y dependencias innecesarias ###
/node_modules/
/dist/
/.DS_Store
/coverage/
###< Ignorar node_modules y dependencias innecesarias ###
